{
  "extends": "@hellpack/eslint-config-hellpack",
  "plugins": [
    "eslint-plugin-prettier",
    "eslint-plugin-import",
    "eslint-plugin-react",
    "eslint-plugin-jsx-a11y"
  ],
  "rules": {
    "global-require": 0,
    "no-console": 0,
    "prefer-template": 0,
    "prefer-destructuring": 0,
    "import/no-dynamic-require": 0
  }
}
